/* 
    Site Name: Halim
    Author: Tanveer Ahmed

    Index
    --------
    00. Base
    01.Header
    02. Banner
    03. 
    04. 
    05. 
    06. 
    07. 
    08. 
    09. 
    10. 
    11. Footer
*/

/* 00. Base */

@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700;800&display=swap');

:root{
    --primary: #333;
    --section-heading-color: #1D1D1D;
    --white: #fff;
    --button: #289BDE;       
    --button-hover: #69bff1;           
    /* font-family: 'Poppins', sans-serif; */
}

/* Universal Styles */

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    scroll-behavior: smooth;
}
body{
    font-family: 'Poppins', sans-serif;
    color: var(--primary);
}
ul{
    list-style: none;
    margin: 0;
}
a{
    color: var(--primary);
    text-decoration: none;
    transition: .3s;
}
img{
    max-width: 100%;
    vertical-align: middle;
}
h4{
    font-size: 40px;
    font-weight: 600;
    line-height: normal;
}
p{
    color: var(--secondary);
    font-size: 16px;
    line-height: 30px;
    font-weight: 400;
}
/* header{
    position: sticky;
    z-index: 99;
    top: 0;
    left: 0;
    right: 0;
} */
.container{
    width: 1170px;
    margin: 0 auto;
}
.fix::before, .fix::after{
    content: "";
    display: table;
    clear: both;
}
.fl{
    float: left;
}
.fr{
    float: right;
}
.pt{
    padding-top: 80px;
}
.pb{
    padding-bottom: 80px;
}
.txt-cnt{
    text-align: center;
}
.nav-btn{
    display: inline-block;
    width: 150px;
    margin-left: 30px;
    padding: 13px 33px;
    font-size: 20px;
    font-weight: 600;
    border-radius: 5px;
    text-align: center;
    border: 1px solid var(--button);
    color: var(--button);
    background-color: transparent;
}
.nav-btn:hover{
    background-color: var(--button);
    color: var(--white);
}
.btn{
    display: inline-block;
    padding: 13px 33px;
    font-size: 20px;
    font-weight: 600;
    text-align: center;
    border-radius: 5px;
    color: var(--white);
    background-color: var(--button);
    border: 1px solid var(--button);
}
.btn:hover{
    border: 1px solid var(--button);
    color: var(--button);
    background-color: var(--white);
}
.join-btn{
    display: inline-block;
    padding: 13px 33px;
    font-size: 20px;
    font-weight: 600;
    text-align: center;
    border-radius: 5px;
    text-align: center;
    border: 1px solid var(--button);
    color: var(--button);
    background-color: var(--white);
}
.join-btn:hover{
    border: 1px solid var(--white);
    color: var(--white);
    background-color: var(--button);
}
.section-title{
    text-align: center;
}
.section-title h4{
    font-size: 45px;
    font-weight: 600;
    line-height: 60px;
}
.section-title P{
    max-width: 606px;
    font-size: 16px;
    font-weight: 400;
    line-height: 30px;
    margin: 20px auto 50px;
}

/* 01. Header */

.header-area{
    padding: 52px 0 46px;
}
.logo{
    display: block;
    width: 127px;
    margin-right: 30px;
    font-size: 40px;
    font-weight: 700;
}
.navigation-bar{
    width: 833px;
    text-align: center;
}
.navigation-bar li{
    display: inline-block;
}
.navigation-bar li a{
    display: inline-block;
    margin: 14px 20px 0;
    font-size: 18px;
    font-weight: 500;
}
.navigation-bar li a:hover{
    color: var(--button);
}

/* 02. Banner */

.banner-area{
    background-image: url(../img/bannar.jpg);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    position: relative;
    z-index: 2;
    padding: 134px 0 137px;
}
.banner-area::before{
    content: '';
    width: 100%;
    height: 100%;
    background-color: var(--primary);
    opacity: 0.8;
    position: absolute;
    top: 0;
    left: 0;
    z-index: -1;
}
.banner-text {
    color: var(--white);
}
.banner-text h1{
    font-size: 80px;
    font-weight: 700;
    line-height: 85px;
    text-transform: uppercase;
}
.banner-text p {
    max-width: 864px;
    margin: 53px auto;
    font-size: 18px;
    font-weight: 400;
    line-height: 30px;
}

/* 03. Courses */

.courses-area{
    padding: 137px 0 236px;
}
.course-box {
    width: 570px;
    margin-right: 24px;
}
.course-box:last-child{
    margin-right: 0;
}
.single-course{
    position: relative;
    margin-bottom: 24px;
    border: 1px solid #E8E8E8;
    border-radius: 5px;
    background-color: var(--white);
}
.single-course:last-child{
    margin-bottom: 0;
}
.single-course .course-content{
    position: absolute;
    top: 50%;
    left: 220px;
    transform: translatey(-50%);
}
.single-course .course-content h4{
    font-size: 25px;
}
.single-course .course-content p{
    font-size: 16px;
}

/* 04. About */

.about{
    border-radius: 5px;
    background: #F4FAFD;
    position: relative;
}
.about-image{
    width: 525px;
    margin-right: 60px;
}
.about-content {
    max-width: 585px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translatey(-50%);
}
.about-content h4{
    font-size: 45px;
}
.about-content p{
    padding-bottom: 30px;
}
.about-content ul {
    width: 195px;
}
.about-content ul li{
    display: inline-block;
}
.about-content ul li p{
    font-weight: 500;
}
.about-content ul li .p{
    color: #777;
}

/* .05 Join */

.join-area{
    border-radius: 5px;
    background: #289BDE;
    padding: 90px 0 84px;
    margin: 130px 0;
}
.join-content{
    width: 80%;
    text-align: left;
    color: var(--white);
}
.join-content h4{
    font-size: 45px;
    line-height: 60px;
}
.join-content p{
    max-width: 528px;
}
.join-button{
    width: 20%;
    text-align: right;
    margin-top: 30px;
}

/* 06. Students */

.students-area .container .section-title{
    text-align: left;
}
.students-area .container .section-title>P{
    max-width: 556px;
    margin: 20px 0 50px;
}
.single-student {
    width: 268px;
    margin-right: 24px;
    border-radius: 5px;
    border: 1px solid var(--dark-06, #E8E8E8);
    transition: .3s;
}
.single-student:last-child{
    margin-right: 0;
}
.single-student:hover{
    box-shadow: 8px 8px 20px #ddd;
}
.single-student:last-child{
    margin-right: 0;
}
.student-content{
    padding-left: 21px;
    margin: 21px 0 20px;
}
.student-content h5{
    font-size: 20px;
    font-weight: 600;
}
.student-content P{
    margin: 0;
}
.student-button{
    margin-top: 50px;
    text-align: center;
}

/* 07. Feedbacks */

.feedbacks-area{
    padding: 130px 0 184px;
}